:root {
    --diman: = 0%;
    --bcg = '';
}

html {
    margin: 0 auto;
}

.bg {
    background-image: var(--bcg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 00px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 45%;
}


.result {
    color: #212121;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 150px;
    width: 430px;
    background-color: #009688;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slider {
    width: 800px;
    height: 60px;
    background-color: #CDDC39;
    border-radius: 25px;
    border: 5px solid #212121;
    position: relative;
    top: 400px;
    margin: 0 auto;
}

.diman {
    background-image: url("img/diman.png");
    width: 200px;
    height: 150px;
    position: relative;
    left: var(--diman);
    top: -50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.quote {
    color: #00796B;
    display: none;
    position: relative;
    bottom: 50px;
    left: 35px;
    background-color: #B2DFDB;
    padding-right: 10px;
    padding-left: 10px;
}

.diman:hover .quote {
    display: inline-block;
}

.divan {
    background-image: url("img/divan.png");
    height: 100px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    bottom: 325px;
    left: 830px;
}

.leipzig {
     background-image: url(img/leipziz.jpg);
     height: 150px;
     width: auto;
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
     bottom: 202px;
     left: -235px;
}