:root {
    --diman: = 0%;
    --bcg = '';
}

html {
    margin: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg {
    background-image: var(--bcg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 00px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 45%;
}


.result {
    color: #212121;
    font-size: 24px;
    text-align: center;
    margin-top: 200px;
    background-color: #009688;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 35vh;
}

.slidebar {
    width: 50vw;
    height: 60px;
    background-color: #CDDC39;
    border-radius: 25px;
    border: 5px solid #212121;
    flex-shrink: 6;
}

.diman {
    background-image: url("img/diman.png");
    width: 200px;
    height: 150px;
    position: relative;
    left: calc(var(--diman) - 55px);
    top: -50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.quote {
    color: #00796B;
    display: none;
    position: relative;
    bottom: 50px;
    left: 35px;
    background-color: #B2DFDB;
    padding-right: 10px;
    padding-left: 10px;
}

.diman:hover .quote {
    display: inline-block;
}

.divan {
    background-image: url("img/divan.png");
    height: 100px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
}

.leipzig {
    background-image: url(img/leipziz.jpg);
    height: 100px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

;